Source: pulseaudio-modules-droid-hidl
Section: sound
Priority: optional
Maintainer: Danct12 <danct12@disroot.org>
Build-Depends: debhelper (>= 7),
               dh-autoreconf,
               libdbus-1-dev,
               android-headers,
               pulseaudio-module-droid-dev,
               pulseaudio-dev,
               libpulse-dev,
               libltdl-dev,
               audiosystem-passthrough-dev
Standards-Version: 3.8.4

Package: pulseaudio-module-droid-hidl
Architecture: any
Depends: pulseaudio,
         pulseaudio-module-droid,
         ${shlibs:Depends}, ${misc:Depends}
Description: HIDL module for PulseAudio
